<%= form_with(model: thaali, id: dom_id(thaali)) do | f | %>
  <div class="row gy-5 my-5 justify-content-md-center">

    <div class="col-2 mx-auto" data-action="input->live-validation#number" data-live-validation-target="number" data-value=<%="#{thaali.id}"%>>

      <%= f.number_field :number, class:"form-control", placeholder: "Thaali Number"%>
      <div class="valid-feedback">Looks good!</div>
      <div class="invalid-feedback">Can't be empty</div>
      <%= inline_error_for(:number, thaali) %>
    </div>

    <div class="col-5 mx-auto" data-action="input->live-validation#owner" data-live-validation-target="owner" data-value=<%="#{thaali.id}"%>>

      <%= f.text_field :owner, class:"form-control", placeholder: "Shk. Fakhruddin Nakhudawala"%>
      <div class="valid-feedback">Looks good!</div>
      <div class="invalid-feedback"></div>
      <%= inline_error_for(:owner, thaali) %>
    </div>

    <div class="col-2 mx-auto" data-action="input->live-validation#size" data-live-validation-target="size" data-value=<%="#{thaali.id}"%>>
      <select name="thaali[size]" id="thaali_size" class="form-select">
        <option value="">Choose</option>
        <option value="small">Small</option>
        <option value="medium">Medium</option>
        <option value="large">Large</option>
      </select>
      <div class="invalid-feedback"></div>
      <%= inline_error_for(:size, thaali) %>
    </div>

    <div class="col-2">
      <%= f.submit class: "btn btn-success submit-button disabled" %>
    </div>
  </div>

<% end %>