<tr>
    <th scope="row"><%= thaali.number %></th>
    <td colspan="8"><%= thaali.owner %></td>
    <td><%= thaali.size %></td>
    <td>
        <span><%= link_to "Edit", "#", class: "btn btn-sm btn-primary" %></span>
        <span><%= link_to "Delete", "#", class: "btn btn-sm btn-danger" %></span>
    </td>
</tr>
